.title{
    font-weight: bold;
    font-size: 2vw;
    text-align: center;
}
.image{
    height: 27vh;
    width: 25vw;
    zoom: 1;
    /* background-color: red; */
}
.image:hover{
    zoom: 1.1;
}
.heading{
    font-size: 1.7vw;
    text-align: center;
    font-weight: bold;
    color: grey;
    padding-top: 3vh;
    padding-bottom: 3vh;

}
button{
    padding: 10px 40px;
    border: none;
    font-weight: 900;
    color: #fff;
    border-radius:50px;
    background-color: #FFCB3B;
}
.button-div{
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
}
.line-image{
    height: 3vh;
}
.title-container{
    font-weight: bold;
    font-size: 2vw;
    font-family: OstrichSans-Black;
}
.col-padd{
    padding-left: 30px;
}
