.title{
    font-weight: bold;
    font-size: 2vw;
    text-align: center;
}
.image{
    height: 26vh;
    width: 26vw;
    zoom: 1;
}
.image:hover{
    zoom: 1.1;
}
.heading{
    font-size: 1.7vw;
    text-align: center;
    font-weight: bold;
    color: grey;

}
button{
    padding: 10px 40px;
    border: 1px solid #fff;
    font-weight: 900;
    color: #fff;
    border-radius:5px;
    background-color: #FFCB3B;
}
.button-div{
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
}
.line-image{
    height: 3vh;
}
.main-title{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    margin: auto;
    align-self: center;
}