/* .title{
    font-weight: bold;
    font-size: 3.8vw;
    text-align: center;
    padding-top: 7vh;
    font-family: NunitoSans-Light;
    color: black;
}
.text-content{
    text-align: left;
    font-family: NunitoSans-Light;
    line-height: 27px;
} */