.logo{
    height: 8vh;
    width: 12vw;
}
.menu-button{
    border:none;
    background: transparent;
    font-size: 1.1VW;
    font-weight: bold;
    color:black
}
.contact-button{
    padding: 5px;
    border: none;
    font-weight: bold;
}
.navigation-link{
    color: black;
    text-decoration: none;
}
/* .padding-top{
    padding-top: 50px;
    color:pink
} */