.bottom-container{
    background-color: #eacdcf;
}
.text-para{
    text-align: center;
    color: #ffffff;
}
.content-title{
    text-align: center;
}
.gif-image{
    background-color: black;
}
.mains{
    position: absolute;
    color:white;
    bottom:30vh;
    font-weight: 800;
    font-size: 2vw;
    right:15vw
}