.bottom-container {
  background-color: #ece9c3;
  height: 60vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.bottom-container::-webkit-scrollbar {
  display: none;
}
.text-para {
  text-align: center;
  color: #ffffff;
}
.content-title {
  text-align: center;
}
.gif-image {
  background-color: black;
}
.mains {
  position: absolute;
  color: white;
  bottom: 30vh;
  font-weight: 800;
  font-size: 2vw;
  right: 15vw;
}
.bold-title {
  font-size: x-large;
  font-weight: 900;
  text-align: center;
}
.text-pattern {
  text-align: justify;
}
.profile-image {
  height: 5vw;
  width: 5vw;
  border-radius: 20vw;
  border: 2px solid grey;
}
.custom-card {
  width: 40%;
}
