.floting-container{
    position: absolute;
    top:100vh;
    z-index: 1;
    right:30px
    /* background: red; */
}
.chat-div{
    height:30vh;
    display:flex;
    align-items:end;
    padding-right:1vw;
}