.top-col{
    background-color: #747474;
    height: 75vh;
}
.header-title{
    font-size: 3vw;
    color: #ffffff;
    font-weight: 700;
}
.red-div{
    width: 10%;
    height: 3px;
    background-color:  #E50914;
}
.call-button{
    color: #ffffff;
    background-color: #747474;
}
.content-header{
    font-size: 3vw;
    font-weight: 700;
    text-align: center;
}
.content-text-col{
    color: #747474;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 1.5vw;
}
.card-container{
    background-color: #f8f9fa;
    padding: 5vh 3vh 3vh 5vh;

}
.service-header{
    font-weight: 800;
    font-size: 3vw;
}
.service-subheader{
    font-size: 1.5vw;
    font-weight: 600;
    color: #E50914;

}
.row-container{
    background-color: #F3F3F3;
}
.card-container{
    background-color: #F3F3F3;
}
.card-main{
    background-color: rgb(240, 234, 234);
    color: black;
}
.card-main:hover{
    background-color: red;
    color: #ffffff;
}
.cards-header{
    font-size: 1.4vw;
    font-weight: 800;

}
.red-dot{
    height: 20px;
    width: 20px;
    border-radius: 40px;
    border:2px solid red;
    display:flex;
    align-items: center;
    justify-content: center;
}
.red-small-dot{
    height: 5px;
    width: 5px;
    border-radius: 10px;
    background-color: red;
}
.avatar-title{
    font-size: 2vw;
    font-family: sans-serif;
    font-weight: 800;
    text-align: center;
}
.avatar-subtitle{
    text-align: center;
    color: #747474;
}
.choose-head{
    font-weight: 700;
    color: black;
     font-size: 1.4vw;
}
.item-text{
    font-weight: 900;
    font-size: 1.3vw;
    font-family: sans-serif;
}